client/miniupnpc-1.9.20150206/connecthostport.o
client/miniupnpc-1.9.20150206/igd_desc_parse.o
client/miniupnpc-1.9.20150206/libminiupnpc.a
client/miniupnpc-1.9.20150206/minisoap.o
client/miniupnpc-1.9.20150206/minissdpc.o
client/miniupnpc-1.9.20150206/miniupnpc.o
client/miniupnpc-1.9.20150206/miniupnpcstrings.h
client/miniupnpc-1.9.20150206/miniwget.o
client/miniupnpc-1.9.20150206/minixml.o
client/miniupnpc-1.9.20150206/portlistingparse.o
client/miniupnpc-1.9.20150206/receivedata.o
client/miniupnpc-1.9.20150206/upnpcommands.o
client/miniupnpc-1.9.20150206/upnperrors.o
client/miniupnpc-1.9.20150206/upnpreplyparse.o
client/pjproject-2.3/build.mak
client/pjproject-2.3/build/cc-auto.mak
client/pjproject-2.3/build/os-auto.mak
client/pjproject-2.3/config.log
client/pjproject-2.3/config.status
client/pjproject-2.3/lib/libpj-arm-hisiv500-linux-gnu.a
client/pjproject-2.3/lib/libpjlib-util-arm-hisiv500-linux-gnu.a
client/pjproject-2.3/lib/libpjnath-arm-hisiv500-linux-gnu.a
client/pjproject-2.3/pjlib-util/build/os-auto.mak
client/pjproject-2.3/pjlib-util/build/output/pjlib-util-arm-hisiv500-linux-gnu/
client/pjproject-2.3/pjlib-util/build/output/pjlib-util-mips-unknown-linux-gnu/
client/pjproject-2.3/pjlib-util/build/output/pjlib-util-test-mips-unknown-linux-gnu/
client/pjproject-2.3/pjlib-util/lib/
client/pjproject-2.3/pjlib/build/os-auto.mak
client/pjproject-2.3/pjlib/build/output/pjlib-arm-hisiv500-linux-gnu/
client/pjproject-2.3/pjlib/build/output/pjlib-mips-unknown-linux-gnu/
client/pjproject-2.3/pjlib/build/output/pjlib-test-mips-unknown-linux-gnu/
client/pjproject-2.3/pjlib/include/pj/compat/m_auto.h
client/pjproject-2.3/pjlib/include/pj/compat/os_auto.h
client/pjproject-2.3/pjlib/lib/
client/pjproject-2.3/pjmedia/build/os-auto.mak
client/pjproject-2.3/pjnath/build/output/pjnath-arm-hisiv500-linux-gnu/
client/pjproject-2.3/pjnath/build/output/pjnath-mips-unknown-linux-gnu/
client/pjproject-2.3/pjnath/build/output/pjnath-test-mips-unknown-linux-gnu/
client/pjproject-2.3/pjnath/build/output/pjturn-client-mips-unknown-linux-gnu/
client/pjproject-2.3/pjnath/build/output/pjturn-srv-mips-unknown-linux-gnu/
client/pjproject-2.3/pjnath/lib/
client/pjproject-2.3/pjsip/build/os-auto.mak
client/pjproject-2.3/third_party/build/os-auto.mak
client/pjproject-2.3/third_party/build/portaudio/os-auto.mak
